html, body {
  height: 100%;
  font-family: "Lucida Grande", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

#index {
	background-image: url("../Img/logo.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    z-index: -1;
    position: fixed;
}
#title {
	color: #fffbfc;
	text-align: center;
	margin-top: 38%;
	margin-left: 70%;
	font-size: 230%;
}
#index ul li {
	display: inline;
}
#index ul li a {
	text-decoration: none;
	color: white;
	padding-right: 2em;
	font-size: 140%;
	font-weight: bold;
}
#index ul li a:hover {
	color: #15AB00;
}
#menu {
	margin-top: 40%;
}

.green {
  color:  #15AB00;
}




#header a {
	text-decoration: none;
	color: #995B48;
	font-weight: bold;
	margin-left: 2%;
	font-size: 1.4em;
}
#header a:hover {
	color: #15AB00;
}
#header img {
	width: 7%;
	margin-top: 1%;
	margin-left: -2%;
}
.menu {
	margin-left: 18%;
	margin-top: -5%;
}
#doremi {
	display: inline-block;
	float: left;
	margin-top: 2.5%;
	margin-left: 2%;
}
#header ul li {
	display: inline;
	margin-top: -3%;
	margin-left: 10%;
	margin-right: 2%;
}

#header {
	background-color: #FFDEE3;
	margin-top: -1%;
	margin-left: -1%;
	margin-right: -1%;
	padding-bottom: 1%;
}


#aboutText {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

#aboutIntro {
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#artPic, #groupPic {
  float: left;
  margin-left: 10%;
  padding-right: 5%;
  padding-bottom: 5%;
}
#artPic img, #groupPic img {
  width: 300px;
}

#quote {
  margin: auto;
  float: left;
  padding-left: 2%;
  color: #297ACC;
  margin-top: 4%;
}

#brainPic {
  float: right;
  margin-right: 10%;
  padding-left: 5%;
  padding-bottom: 5%;
}
#brainPic img {
  width: 300px;
}

#groupPic {
  margin-left: 0%;
  padding-top: 5%;
}


#mediaTitle {
  text-align: center;
  margin: auto;
}

#media a {
  text-decoration: none;
}

#media a:hover {
  text-decoration: underline;
}

td {
  width: 30%;
  margin-top: 0;
}

figcaption {
  font-size: 75%;
  width: 75%;
  margin: 2% auto;
}

figure img, iframe {
  width: 90%;
  margin: 0 auto;
}



#contact h2 {
	color: #15AB00;
	padding: 1%;
}
#contact #contactemail {
	color: #15AB00;
}
#contact, #about {
	text-align: center;
	color: #995B48;
	background-color: #fffbfc;
	border-radius: 5%;
	margin-left: 7%;
	margin-right: 7%;
	padding-bottom: 2%;
}
#contact a {
	color: #15AB00;
}
#contact a:hover {
	color: #BECBB2;
}